header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #2b024a;
  width: 100%;
  min-width: 250px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  flex-direction: column;
  gap: 10px;
}
header > nav > ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
}

@media (max-width: 500px) {
  header > nav > ul {
    font-size: 10px;
    flex-direction: column;
    display: flex;
    gap: 0%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
  }

  h1 {
    font-size: 15px;
    margin-left: 20px;
  }
}
