#change {
  background-color: var(--body);
  color: var(--heading);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  min-width: 400px;
}
