.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  background-color: rgb(255, 255, 255);
}

.experience ul {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  padding: 2rem;
}
